.env
.env.*
!.env.example

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Alembic Cache
alembic/__pycache__/
alembic/versions/__pycache__/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
